<footer>
    <div class="footer">
        <div class="socialicons">
            <a href="https://www.facebook.com/senecapoly"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/senecapoly"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/SenecaPoly"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com/@SenecaPoly"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footernav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rentals">Rentals</a></li>
                <li><a href="/log-in">Login</a></li>
                <li><a href="/sign-up">Sign-Up</a></li>
            </ul>
        </div>
    </div>
    <div class="footerbtm">
        <p>By submitting this assignment I declare that this assignment is my own work in accordance with 
            the Seneca Academic Policy. No part of this assignment has been copied manually or 
            electronically from any other source (including web sites) or distributed to other students.</p>
        <p>© Felix Tse, ftse7@myseneca.ca, WEB322 Winter 2023</p>
    </div>
</footer>