<div class="navheader">
    <nav>
        <a href="/">
            <img src="/images/stayaway-logo.png" class="logo" alt="logo">
        </a>
        <ul class="nav-links">
            <li><a href="/rentals">Rentals</a></li>
            <li><a href="/sign-up">Sign-Up</a></li>
            <li><a href="/log-in">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Unwind! Explore! StayAway from Home!</h1>
        <h2>Discover Your Dream Getaway!</h2>
    </div>
</div>