<% let loginbody = `
<div class="loginctn">
    <div class="supcontainer">
        <h1>Login</h1>
        <form method="post" class="incontainer" action="/log-in">
            <div class="supentry">
                <label for="email" class="label">Email</label>
                <input type="text" id="email" name="email" value>
            </div>
            <div class="supentry">
                <label for="password" class="label">Password</label>
                <input type="password" id="password" name="password" value>
            </div>
            <div class="btncontainer">
                <button type="submit" class="signupbtn">Login</button>
            </div>
        </form>
        <div class="signuplink">
            <p>Don't have an account yet? <a href="/sign-up">Sign up</a></p>
        </div>
    </div>
</div>
` %>

<%- include('../layouts/main', {body: loginbody}) %>




