<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayAway</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <script src="https://kit.fontawesome.com/4be25eb178.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navheader">
        <nav>
            <a href="/">
                <img src="/images/stayaway-logo.png" class="logo" alt="logo">
            </a>
            <ul class="nav-links">
                <li><a href="/rentals">Rentals</a></li>
                <li><a href="/sign-up">Sign-Up</a></li>
                <li><a href="/log-in">Login</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Unwind! Explore! StayAway from Home!</h1>
            <h2>Discover Your Dream Getaway!</h2>
        </div>
    </div>
    <div class="gridcontainer">
        <div class="content">
            <i class="fa-solid fa-handshake fa-2xl"></i>
            <h3>Quality You Can Trust</h3>
            <p>We believe in quality over quantity. Every property on our site is handpicked for its comfort, convenience, and charm</p>
        </div>
        <div class="content">
            <i class="fa-solid fa-route fa-2xl"></i>
            <h3>Explore With Confidence</h3>
            <p>Discover new destinations with the assurance that your accommodations are taken care of</p>
        </div>
        <div class="content">
            <i class="fa-solid fa-house-chimney fa-2xl"></i>
            <h3>A Home Away From Home</h3>
            <p>Experience the warmth and comfort of a home, even when you're far away</p>
        </div>
        <div class="content">
            <i class="fa-solid fa-eye-slash fa-2xl"></i>
            <h3>Discover Hidden Gems</h3>
            <p>Uncover unique properties in off-the-beaten-path locations</p>
        </div>
    </div>
    <div class="ftrentals">Featured Rentals</div>
    <div class="ftrentalcontainer">
        <div class="box">
            <img src="/images/h1.jpg" alt="suburban house">
            <h3>Oshawa, ON, Canada</h3>
            <p>Sleeps 7 - 3 BR - 2 BA $150/night</p>
        </div>
        <div class="box">
            <img src="/images/h2.jpg" alt="white house">
            <h3>Santorini Island, Greece</h3>
            <p>Sleeps 9 - 4 BR - 3 BA $200/night</p>
        </div>
        <div class="box">
            <img src="/images/h3.jpg" alt="a normal small house">
            <h3>Yellow Springs, OH, USA</h3>
            <p>Sleeps 5 - 2 BR - 1 BA $120/night</p>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="socialicons">
                <a href="https://www.facebook.com/felix.tse.94/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/ferix999"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/SenecaPoly"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com/@SenecaPoly"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footernav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/rentals">Rentals</a></li>
                    <li><a href="/log-in">Login</a></li>
                    <li><a href="/sign-up">Sign-Up</a></li>
                </ul>
            </div>
        </div>
        <div class="footerbtm">
            <p>By submitting this assignment I declare that this assignment is my own work in accordance with 
                the Seneca Academic Policy. No part of this assignment has been copied manually or 
                electronically from any other source (including web sites) or distributed to other students.</p>
            <p>© Felix Tse, ftse7@myseneca.ca, WEB322 Winter 2023</p>
        </div>
    </footer>
</body>
</html>